# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#exclude pickle files, since they can get large here
*.pkl

#also exclude train and test from reduced task, same reason
reduced_task/train.csv
reduced_task/test.csv
reduced_task/dev.csv
3_ranklib_framework/train.csv
3_ranklib_framework/dev.csv
3_ranklib_framework/test.csv

#Exclude the embeddings models
1_document_representation/pickle/our_fasttext
1_document_representation/pickle/our_fasttext.trainables.vectors_ngrams_lockf.npy
1_document_representation/pickle/our_fasttext.wv.vectors_ngrams.npy
1_document_representation/pickle/our_fasttextword2vec
1_document_representation/pickle/our_fasttextword2vec.trainables.vectors_ngrams_lockf.npy
1_document_representation/pickle/our_fasttextword2vec.wv.vectors_ngrams.npy

alt/*

3_ranklib_framework/baseline/train_tfidf.csv
3_ranklib_framework/baseline/train_bm25.csv
3_ranklib_framework/baseline/train_bm25_alt.csv
3_ranklib_framework/baseline/train_unigram.csv
3_ranklib_framework/baseline/train_cosine.csv
3_ranklib_framework/baseline/train_fasttext.csv
3_ranklib_framework/baseline/train_word2vec.csv
Old/reduced_task/dev.csv
Old/reduced_task/test.csv
Old/reduced_task/train.csv
